body {
  /* Image credit: https://flickr.com/photos/isabelle_puaut/11343245996/ */
  background-attachment: fixed;
  background-image: url("{{ "img/vancouver_2023.jpg" | link }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body > main {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

body > main .logo {
  text-align: center;
}

body > main .logo img {
  width: 80%;
  padding-top: 1rem;
}

body > main h2 {
  text-align: center;
  text-transform: none;
}

.social {
  text-align: center !important;
  font-size: 1.5rem;
}

.social a {
  color: inherit;
}

#newsContainer .newsTitle {
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
}

#newsContainer .newsDate {
  font-size: 0.8em;
  margin-bottom: 4px;
  text-align: center;
}
